## Exercício - Titanic
disponível em https://www.kaggle.com/c/titanic/overview

#### Descrição
O naufrágio do RMS Titanic é um dos naufrágios mais famosos da história. Em 15 de abril de 1912, durante sua viagem inaugural, o Titanic afundou após colidir com um iceberg, matando 1502 de 2224 passageiros e tripulantes. Essa tragédia chocou a comunidade internacional e levou a melhores regulamentações de segurança para os navios.

Uma das razões pelas quais o naufrágio levou a tal perda de vidas foi que não havia botes salva-vidas suficientes para os passageiros e a tripulação. Embora houvesse algum elemento de sorte envolvido na sobrevivência do naufrágio, alguns grupos de pessoas eram mais propensos a sobreviver do que outros, como mulheres, crianças e a classe alta.

Nesse desafio, a atividade é que você conclua a análise de que tipo de pessoa provavelmente sobreviverá. Em particular, solicitamos você deve aplicar classificadores de árvores de decisão para esta atividade.

### Descrição do dataset
Os dados foram divididos em dois grupos:

conjunto de treinamento (train.csv)
conjunto de teste (test.csv)
O conjunto de treinamento deve ser usado para criar seus modelos de aprendizado de máquina. Para o conjunto de treinamento, fornecemos o resultado (também conhecido como "verdade do solo") para cada passageiro. Seu modelo será baseado em "recursos", como sexo e classe dos passageiros. Você também pode usar a engenharia de recursos para criar novos recursos.

O conjunto de teste deve ser usado para ver o desempenho do seu modelo em dados não vistos. Para o conjunto de testes, não fornecemos a verdade básica para cada passageiro. É seu trabalho prever esses resultados. Para cada passageiro no conjunto de testes, use o modelo que você treinou para prever se eles sobreviveram ou não ao naufrágio do Titanic.

Também incluímos gender_submission.csv, um conjunto de previsões que supõem que todas e apenas passageiras sobrevivem, como um exemplo da aparência de um arquivo de envio.

### Dicionário de Dados

**Variable -	Definition	- Key**

survival - Survival	- 0 = No, 1 = Yes

pclass -	Ticket class -	1 = 1st, 2 = 2nd, 3 = 3rd

sex -	Sex	

Age	- Age in years	

sibsp -	# of siblings / spouses aboard the Titanic	

parch- # of parents / children aboard the Titanic	

ticket - Ticket number	

fare - Passenger fare	

cabin- Cabin number	

embarked- Port of Embarkation	C = Cherbourg, Q = Queenstown, S = Southampton

In [298]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.model_selection import KFold
from sklearn.svm import SVR
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [299]:
treino = pd.read_csv('train.csv')
teste = pd.read_csv('test.csv')
y = treino['Survived']
treino.drop(['PassengerId','Name','Survived','Ticket'],axis=1,inplace=True)
X = treino
y_teste = pd.read_csv('gender_submission.csv')
y_teste.drop(['PassengerId'], axis=1, inplace=True)
print(y_teste)
#y_teste = teste['Survived']
teste.drop(['PassengerId','Name','Ticket'],axis=1,inplace=True)
X_teste = teste

     Survived
0           0
1           1
2           0
3           0
4           1
5           0
6           1
7           0
8           1
9           0
10          0
11          0
12          1
13          0
14          1
15          1
16          0
17          0
18          1
19          1
20          0
21          0
22          1
23          0
24          1
25          0
26          1
27          0
28          0
29          0
..        ...
388         0
389         0
390         0
391         1
392         0
393         0
394         0
395         1
396         0
397         1
398         0
399         0
400         1
401         0
402         1
403         0
404         0
405         0
406         0
407         0
408         1
409         1
410         1
411         1
412         1
413         0
414         1
415         0
416         0
417         0

[418 rows x 1 columns]

In [300]:
X['Cabin'] = X['Cabin'].fillna('Z')
X
X_teste['Cabin'] = X_teste['Cabin'].fillna('Z')
X_teste

     Pclass     Sex   Age  SibSp  Parch      Fare            Cabin Embarked
0         3    male  34.5      0      0    7.8292                Z        Q
1         3  female  47.0      1      0    7.0000                Z        S
2         2    male  62.0      0      0    9.6875                Z        Q
3         3    male  27.0      0      0    8.6625                Z        S
4         3  female  22.0      1      1   12.2875                Z        S
5         3    male  14.0      0      0    9.2250                Z        S
6         3  female  30.0      0      0    7.6292                Z        Q
7         2    male  26.0      1      1   29.0000                Z        S
8         3  female  18.0      0      0    7.2292                Z        C
9         3    male  21.0      2      0   24.1500                Z        S
10        3    male   NaN      0      0    7.8958                Z        S
11        1    male  46.0      0      0   26.0000                Z        S
12        1  female  23.0      1      0   82.2667              B45        S
13        2    male  63.0      1      0   26.0000                Z        S
14        1  female  47.0      1      0   61.1750              E31        S
15        2  female  24.0      1      0   27.7208                Z        C
16        2    male  35.0      0      0   12.3500                Z        Q
17        3    male  21.0      0      0    7.2250                Z        C
18        3  female  27.0      1      0    7.9250                Z        S
19        3  female  45.0      0      0    7.2250                Z        C
20        1    male  55.0      1      0   59.4000                Z        C
21        3    male   9.0      0      1    3.1708                Z        S
22        1  female   NaN      0      0   31.6833                Z        S
23        1    male  21.0      0      1   61.3792                Z        C
24        1  female  48.0      1      3  262.3750  B57 B59 B63 B66        C
25        3    male  50.0      1      0   14.5000                Z        S
26        1  female  22.0      0      1   61.9792              B36        C
27        3    male  22.5      0      0    7.2250                Z        C
28        1    male  41.0      0      0   30.5000              A21        S
29        3    male   NaN      2      0   21.6792                Z        C
..      ...     ...   ...    ...    ...       ...              ...      ...
388       3    male  21.0      0      0    7.7500                Z        Q
389       3    male   6.0      3      1   21.0750                Z        S
390       1    male  23.0      0      0   93.5000              B24        S
391       1  female  51.0      0      1   39.4000              D28        S
392       3    male  13.0      0      2   20.2500                Z        S
393       2    male  47.0      0      0   10.5000                Z        S
394       3    male  29.0      3      1   22.0250                Z        S
395       1  female  18.0      1      0   60.0000              C31        S
396       3    male  24.0      0      0    7.2500                Z        Q
397       1  female  48.0      1      1   79.2000              B41        C
398       3    male  22.0      0      0    7.7750                Z        S
399       3    male  31.0      0      0    7.7333                Z        Q
400       1  female  30.0      0      0  164.8667               C7        S
401       2    male  38.0      1      0   21.0000                Z        S
402       1  female  22.0      0      1   59.4000                Z        C
403       1    male  17.0      0      0   47.1000                Z        S
404       1    male  43.0      1      0   27.7208              D40        C
405       2    male  20.0      0      0   13.8625              D38        C
406       2    male  23.0      1      0   10.5000                Z        S
407       1    male  50.0      1      1  211.5000              C80        C
408       3  female   NaN      0      0    7.7208                Z        Q
409       3  female   3.0      1      1   13.7750                Z        S
410       3  female   NaN      0      0    7.7500                Z        Q
411       1  female  37.0      1      0   90.0000              C78        Q
412       3  female  28.0      0      0    7.7750                Z        S
413       3    male   NaN      0      0    8.0500                Z        S
414       1  female  39.0      0      0  108.9000             C105        C
415       3    male  38.5      0      0    7.2500                Z        S
416       3    male   NaN      0      0    8.0500                Z        S
417       3    male   NaN      1      1   22.3583                Z        C

[418 rows x 8 columns]

In [301]:
#X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2, random_state=42, stratify=y)

In [302]:
#X_train['Cabin'] = X_train['Cabin'].apply(lambda x: x[0])
#print(X_train)
X['Cabin'] = X['Cabin'].apply(lambda x: x[0])
print(X)
X_teste['Cabin'] = X_teste['Cabin'].apply(lambda x: x[0])
print(X_teste)

     Pclass     Sex   Age  SibSp  Parch      Fare Cabin Embarked
0         3    male  22.0      1      0    7.2500     Z        S
1         1  female  38.0      1      0   71.2833     C        C
2         3  female  26.0      0      0    7.9250     Z        S
3         1  female  35.0      1      0   53.1000     C        S
4         3    male  35.0      0      0    8.0500     Z        S
5         3    male   NaN      0      0    8.4583     Z        Q
6         1    male  54.0      0      0   51.8625     E        S
7         3    male   2.0      3      1   21.0750     Z        S
8         3  female  27.0      0      2   11.1333     Z        S
9         2  female  14.0      1      0   30.0708     Z        C
10        3  female   4.0      1      1   16.7000     G        S
11        1  female  58.0      0      0   26.5500     C        S
12        3    male  20.0      0      0    8.0500     Z        S
13        3    male  39.0      1      5   31.2750     Z        S
14        3  female  14.0      0      0    7.8542     Z        S
15        2  female  55.0      0      0   16.0000     Z        S
16        3    male   2.0      4      1   29.1250     Z        Q
17        2    male   NaN      0      0   13.0000     Z        S
18        3  female  31.0      1      0   18.0000     Z        S
19        3  female   NaN      0      0    7.2250     Z        C
20        2    male  35.0      0      0   26.0000     Z        S
21        2    male  34.0      0      0   13.0000     D        S
22        3  female  15.0      0      0    8.0292     Z        Q
23        1    male  28.0      0      0   35.5000     A        S
24        3  female   8.0      3      1   21.0750     Z        S
25        3  female  38.0      1      5   31.3875     Z        S
26        3    male   NaN      0      0    7.2250     Z        C
27        1    male  19.0      3      2  263.0000     C        S
28        3  female   NaN      0      0    7.8792     Z        Q
29        3    male   NaN      0      0    7.8958     Z        S
..      ...     ...   ...    ...    ...       ...   ...      ...
861       2    male  21.0      1      0   11.5000     Z        S
862       1  female  48.0      0      0   25.9292     D        S
863       3  female   NaN      8      2   69.5500     Z        S
864       2    male  24.0      0      0   13.0000     Z        S
865       2  female  42.0      0      0   13.0000     Z        S
866       2  female  27.0      1      0   13.8583     Z        C
867       1    male  31.0      0      0   50.4958     A        S
868       3    male   NaN      0      0    9.5000     Z        S
869       3    male   4.0      1      1   11.1333     Z        S
870       3    male  26.0      0      0    7.8958     Z        S
871       1  female  47.0      1      1   52.5542     D        S
872       1    male  33.0      0      0    5.0000     B        S
873       3    male  47.0      0      0    9.0000     Z        S
874       2  female  28.0      1      0   24.0000     Z        C
875       3  female  15.0      0      0    7.2250     Z        C
876       3    male  20.0      0      0    9.8458     Z        S
877       3    male  19.0      0      0    7.8958     Z        S
878       3    male   NaN      0      0    7.8958     Z        S
879       1  female  56.0      0      1   83.1583     C        C
880       2  female  25.0      0      1   26.0000     Z        S
881       3    male  33.0      0      0    7.8958     Z        S
882       3  female  22.0      0      0   10.5167     Z        S
883       2    male  28.0      0      0   10.5000     Z        S
884       3    male  25.0      0      0    7.0500     Z        S
885       3  female  39.0      0      5   29.1250     Z        Q
886       2    male  27.0      0      0   13.0000     Z        S
887       1  female  19.0      0      0   30.0000     B        S
888       3  female   NaN      1      2   23.4500     Z        S
889       1    male  26.0      0      0   30.0000     C        C
890       3    male  32.0      0      0    7.7500     Z        Q

[891 rows x 8 columns]
     Pclass     Sex   Age  SibSp  Parch      Fare Cabin Embarked
0         3    male  34.5      0      0    7.8292     Z        Q
1         3  female  47.0      1      0    7.0000     Z        S
2         2    male  62.0      0      0    9.6875     Z        Q
3         3    male  27.0      0      0    8.6625     Z        S
4         3  female  22.0      1      1   12.2875     Z        S
5         3    male  14.0      0      0    9.2250     Z        S
6         3  female  30.0      0      0    7.6292     Z        Q
7         2    male  26.0      1      1   29.0000     Z        S
8         3  female  18.0      0      0    7.2292     Z        C
9         3    male  21.0      2      0   24.1500     Z        S
10        3    male   NaN      0      0    7.8958     Z        S
11        1    male  46.0      0      0   26.0000     Z        S
12        1  female  23.0      1      0   82.2667     B        S
13        2    male  63.0      1      0   26.0000     Z        S
14        1  female  47.0      1      0   61.1750     E        S
15        2  female  24.0      1      0   27.7208     Z        C
16        2    male  35.0      0      0   12.3500     Z        Q
17        3    male  21.0      0      0    7.2250     Z        C
18        3  female  27.0      1      0    7.9250     Z        S
19        3  female  45.0      0      0    7.2250     Z        C
20        1    male  55.0      1      0   59.4000     Z        C
21        3    male   9.0      0      1    3.1708     Z        S
22        1  female   NaN      0      0   31.6833     Z        S
23        1    male  21.0      0      1   61.3792     Z        C
24        1  female  48.0      1      3  262.3750     B        C
25        3    male  50.0      1      0   14.5000     Z        S
26        1  female  22.0      0      1   61.9792     B        C
27        3    male  22.5      0      0    7.2250     Z        C
28        1    male  41.0      0      0   30.5000     A        S
29        3    male   NaN      2      0   21.6792     Z        C
..      ...     ...   ...    ...    ...       ...   ...      ...
388       3    male  21.0      0      0    7.7500     Z        Q
389       3    male   6.0      3      1   21.0750     Z        S
390       1    male  23.0      0      0   93.5000     B        S
391       1  female  51.0      0      1   39.4000     D        S
392       3    male  13.0      0      2   20.2500     Z        S
393       2    male  47.0      0      0   10.5000     Z        S
394       3    male  29.0      3      1   22.0250     Z        S
395       1  female  18.0      1      0   60.0000     C        S
396       3    male  24.0      0      0    7.2500     Z        Q
397       1  female  48.0      1      1   79.2000     B        C
398       3    male  22.0      0      0    7.7750     Z        S
399       3    male  31.0      0      0    7.7333     Z        Q
400       1  female  30.0      0      0  164.8667     C        S
401       2    male  38.0      1      0   21.0000     Z        S
402       1  female  22.0      0      1   59.4000     Z        C
403       1    male  17.0      0      0   47.1000     Z        S
404       1    male  43.0      1      0   27.7208     D        C
405       2    male  20.0      0      0   13.8625     D        C
406       2    male  23.0      1      0   10.5000     Z        S
407       1    male  50.0      1      1  211.5000     C        C
408       3  female   NaN      0      0    7.7208     Z        Q
409       3  female   3.0      1      1   13.7750     Z        S
410       3  female   NaN      0      0    7.7500     Z        Q
411       1  female  37.0      1      0   90.0000     C        Q
412       3  female  28.0      0      0    7.7750     Z        S
413       3    male   NaN      0      0    8.0500     Z        S
414       1  female  39.0      0      0  108.9000     C        C
415       3    male  38.5      0      0    7.2500     Z        S
416       3    male   NaN      0      0    8.0500     Z        S
417       3    male   NaN      1      1   22.3583     Z        C

[418 rows x 8 columns]

In [303]:
#X_train['Cabin'] = X_train['Cabin'].replace(['T','G'],'Z', inplace=True)
#print(X_train)

In [304]:
numerical = ['Fare','Age']
imputer_num = SimpleImputer(strategy='mean')
#X_train[numerical] = imputer_num.fit_transform(X_train[numerical])
X[numerical] = imputer_num.fit_transform(X[numerical])

numerical = ['Fare','Age']
imputer_num = SimpleImputer(strategy='mean')
#X_train[numerical] = imputer_num.fit_transform(X_train[numerical])
X_teste[numerical] = imputer_num.fit_transform(X_teste[numerical])
print(X_teste)

     Pclass     Sex       Age  SibSp  Parch      Fare Cabin Embarked
0         3    male  34.50000      0      0    7.8292     Z        Q
1         3  female  47.00000      1      0    7.0000     Z        S
2         2    male  62.00000      0      0    9.6875     Z        Q
3         3    male  27.00000      0      0    8.6625     Z        S
4         3  female  22.00000      1      1   12.2875     Z        S
5         3    male  14.00000      0      0    9.2250     Z        S
6         3  female  30.00000      0      0    7.6292     Z        Q
7         2    male  26.00000      1      1   29.0000     Z        S
8         3  female  18.00000      0      0    7.2292     Z        C
9         3    male  21.00000      2      0   24.1500     Z        S
10        3    male  30.27259      0      0    7.8958     Z        S
11        1    male  46.00000      0      0   26.0000     Z        S
12        1  female  23.00000      1      0   82.2667     B        S
13        2    male  63.00000      1      0   26.0000     Z        S
14        1  female  47.00000      1      0   61.1750     E        S
15        2  female  24.00000      1      0   27.7208     Z        C
16        2    male  35.00000      0      0   12.3500     Z        Q
17        3    male  21.00000      0      0    7.2250     Z        C
18        3  female  27.00000      1      0    7.9250     Z        S
19        3  female  45.00000      0      0    7.2250     Z        C
20        1    male  55.00000      1      0   59.4000     Z        C
21        3    male   9.00000      0      1    3.1708     Z        S
22        1  female  30.27259      0      0   31.6833     Z        S
23        1    male  21.00000      0      1   61.3792     Z        C
24        1  female  48.00000      1      3  262.3750     B        C
25        3    male  50.00000      1      0   14.5000     Z        S
26        1  female  22.00000      0      1   61.9792     B        C
27        3    male  22.50000      0      0    7.2250     Z        C
28        1    male  41.00000      0      0   30.5000     A        S
29        3    male  30.27259      2      0   21.6792     Z        C
..      ...     ...       ...    ...    ...       ...   ...      ...
388       3    male  21.00000      0      0    7.7500     Z        Q
389       3    male   6.00000      3      1   21.0750     Z        S
390       1    male  23.00000      0      0   93.5000     B        S
391       1  female  51.00000      0      1   39.4000     D        S
392       3    male  13.00000      0      2   20.2500     Z        S
393       2    male  47.00000      0      0   10.5000     Z        S
394       3    male  29.00000      3      1   22.0250     Z        S
395       1  female  18.00000      1      0   60.0000     C        S
396       3    male  24.00000      0      0    7.2500     Z        Q
397       1  female  48.00000      1      1   79.2000     B        C
398       3    male  22.00000      0      0    7.7750     Z        S
399       3    male  31.00000      0      0    7.7333     Z        Q
400       1  female  30.00000      0      0  164.8667     C        S
401       2    male  38.00000      1      0   21.0000     Z        S
402       1  female  22.00000      0      1   59.4000     Z        C
403       1    male  17.00000      0      0   47.1000     Z        S
404       1    male  43.00000      1      0   27.7208     D        C
405       2    male  20.00000      0      0   13.8625     D        C
406       2    male  23.00000      1      0   10.5000     Z        S
407       1    male  50.00000      1      1  211.5000     C        C
408       3  female  30.27259      0      0    7.7208     Z        Q
409       3  female   3.00000      1      1   13.7750     Z        S
410       3  female  30.27259      0      0    7.7500     Z        Q
411       1  female  37.00000      1      0   90.0000     C        Q
412       3  female  28.00000      0      0    7.7750     Z        S
413       3    male  30.27259      0      0    8.0500     Z        S
414       1  female  39.00000      0      0  108.9000     C        C
415       3    male  38.50000      0      0    7.2500     Z        S
416       3    male  30.27259      0      0    8.0500     Z        S
417       3    male  30.27259      1      1   22.3583     Z        C

[418 rows x 8 columns]

In [305]:
categorical=['Pclass', 'Sex','SibSp','Parch']
imputer_cat = SimpleImputer(strategy='most_frequent')
#X_train[categorical] = imputer_cat.fit_transform(X_train[categorical])
#X_train = pd.get_dummies(X_train, drop_first=True)
#X_test = pd.get_dummies(X_test, drop_first=True)
X[categorical] = imputer_cat.fit_transform(X[categorical])
X['Sex'] = pd.get_dummies(X['Sex'], drop_first=True)
X['Cabin'] = pd.get_dummies(X['Cabin'], drop_first=True)
X['Embarked'] = pd.get_dummies(X['Embarked'], drop_first=True)
#X_test = pd.get_dummies(X_test, drop_first=True)

categorical=['Pclass', 'Sex','SibSp','Parch']
imputer_cat = SimpleImputer(strategy='most_frequent')
#X_train[categorical] = imputer_cat.fit_transform(X_train[categorical])
#X_train = pd.get_dummies(X_train, drop_first=True)
#X_test = pd.get_dummies(X_test, drop_first=True)
X_teste[categorical] = imputer_cat.fit_transform(X_teste[categorical])
X_teste['Sex'] = pd.get_dummies(X_teste['Sex'], drop_first=True)
X_teste['Cabin'] = pd.get_dummies(X_teste['Cabin'], drop_first=True)
X_teste['Embarked'] = pd.get_dummies(X_teste['Embarked'], drop_first=True)
#X_teste = pd.get_dummies(X_teste, drop_first=True)
#X_test = pd.get_dummies(X_test, drop_first=True)

In [306]:
print(X_teste)

     Pclass  Sex       Age  SibSp  Parch      Fare  Cabin  Embarked
0         3    1  34.50000      0      0    7.8292      0         1
1         3    0  47.00000      1      0    7.0000      0         0
2         2    1  62.00000      0      0    9.6875      0         1
3         3    1  27.00000      0      0    8.6625      0         0
4         3    0  22.00000      1      1   12.2875      0         0
5         3    1  14.00000      0      0    9.2250      0         0
6         3    0  30.00000      0      0    7.6292      0         1
7         2    1  26.00000      1      1   29.0000      0         0
8         3    0  18.00000      0      0    7.2292      0         0
9         3    1  21.00000      2      0   24.1500      0         0
10        3    1  30.27259      0      0    7.8958      0         0
11        1    1  46.00000      0      0   26.0000      0         0
12        1    0  23.00000      1      0   82.2667      1         0
13        2    1  63.00000      1      0   26.0000      0         0
14        1    0  47.00000      1      0   61.1750      0         0
15        2    0  24.00000      1      0   27.7208      0         0
16        2    1  35.00000      0      0   12.3500      0         1
17        3    1  21.00000      0      0    7.2250      0         0
18        3    0  27.00000      1      0    7.9250      0         0
19        3    0  45.00000      0      0    7.2250      0         0
20        1    1  55.00000      1      0   59.4000      0         0
21        3    1   9.00000      0      1    3.1708      0         0
22        1    0  30.27259      0      0   31.6833      0         0
23        1    1  21.00000      0      1   61.3792      0         0
24        1    0  48.00000      1      3  262.3750      1         0
25        3    1  50.00000      1      0   14.5000      0         0
26        1    0  22.00000      0      1   61.9792      1         0
27        3    1  22.50000      0      0    7.2250      0         0
28        1    1  41.00000      0      0   30.5000      0         0
29        3    1  30.27259      2      0   21.6792      0         0
..      ...  ...       ...    ...    ...       ...    ...       ...
388       3    1  21.00000      0      0    7.7500      0         1
389       3    1   6.00000      3      1   21.0750      0         0
390       1    1  23.00000      0      0   93.5000      1         0
391       1    0  51.00000      0      1   39.4000      0         0
392       3    1  13.00000      0      2   20.2500      0         0
393       2    1  47.00000      0      0   10.5000      0         0
394       3    1  29.00000      3      1   22.0250      0         0
395       1    0  18.00000      1      0   60.0000      0         0
396       3    1  24.00000      0      0    7.2500      0         1
397       1    0  48.00000      1      1   79.2000      1         0
398       3    1  22.00000      0      0    7.7750      0         0
399       3    1  31.00000      0      0    7.7333      0         1
400       1    0  30.00000      0      0  164.8667      0         0
401       2    1  38.00000      1      0   21.0000      0         0
402       1    0  22.00000      0      1   59.4000      0         0
403       1    1  17.00000      0      0   47.1000      0         0
404       1    1  43.00000      1      0   27.7208      0         0
405       2    1  20.00000      0      0   13.8625      0         0
406       2    1  23.00000      1      0   10.5000      0         0
407       1    1  50.00000      1      1  211.5000      0         0
408       3    0  30.27259      0      0    7.7208      0         1
409       3    0   3.00000      1      1   13.7750      0         0
410       3    0  30.27259      0      0    7.7500      0         1
411       1    0  37.00000      1      0   90.0000      0         1
412       3    0  28.00000      0      0    7.7750      0         0
413       3    1  30.27259      0      0    8.0500      0         0
414       1    0  39.00000      0      0  108.9000      0         0
415       3    1  38.50000      0      0    7.2500      0         0
416       3    1  30.27259      0      0    8.0500      0         0
417       3    1  30.27259      1      1   22.3583      0         0

[418 rows x 8 columns]

In [309]:
scores = []
dtc =  DecisionTreeClassifier(max_depth=5, random_state=42)
X = np.array(X)
y = np.array(y)
cv = KFold(n_splits=10, random_state=42, shuffle=False)
for train_index, test_index in cv.split(X):
    #print("Train Index: ", train_index, "\n")
    #print("Test Index: ", test_index)
    X_train, X_test, y_train, y_test = X[train_index], X[test_index], y[train_index], y[test_index]
    dtc.fit(X_train, y_train)
    scores.append(dtc.score(X_test, y_test))

In [310]:
y_pred = dtc.predict(X_teste)
print(y_pred)
print(y_teste)
accuracy_score(y_teste, y_pred)

[0 0 0 0 1 0 1 0 1 0 0 0 1 0 1 1 0 0 1 0 0 1 1 0 1 0 1 0 0 0 0 0 1 1 0 0 1
 1 0 1 0 0 0 1 1 0 0 0 1 1 0 0 1 1 0 0 0 0 0 1 0 0 0 1 1 1 1 0 0 1 1 0 1 0
 1 0 0 1 0 1 1 0 0 0 0 0 1 1 1 1 1 0 1 0 0 0 1 0 1 0 1 0 0 0 1 0 0 0 0 0 0
 1 1 1 1 0 0 1 0 1 1 0 1 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0
 0 0 1 0 0 1 0 0 1 1 0 1 1 1 1 0 0 1 0 0 1 1 0 0 0 0 0 1 1 0 1 1 0 0 1 0 1
 0 1 0 0 0 0 0 0 0 1 0 1 1 0 1 1 1 0 1 0 0 1 0 1 0 0 0 0 1 0 0 1 0 1 0 1 0
 1 0 1 1 0 1 0 0 0 1 0 0 0 0 0 0 1 1 1 1 0 0 0 0 1 0 1 1 1 0 0 0 0 0 0 0 1
 0 0 0 1 1 0 0 0 0 1 0 0 0 1 1 0 1 0 0 0 0 1 1 1 1 1 0 0 0 0 0 0 1 0 0 0 0
 1 0 0 0 0 0 0 0 1 1 0 1 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 1 0 1 0 0 0 1 0 0
 1 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 1 1 0 0 0 1 0 1 0 0 1 0 1 1 0 1 0 0 0 1 0
 0 1 0 0 1 1 1 0 0 0 0 0 1 1 0 1 0 0 0 0 0 1 0 0 0 1 0 1 0 0 1 0 1 1 0 0 0
 0 1 1 1 1 1 0 1 0 0 0]
     Survived
0           0
1           1
2           0
3           0
4           1
5           0
6           1
7           0
8           1
9           0
10          0
11          0
12          1
13          0
14          1
15          1
16          0
17          0
18          1
19          1
20          0
21          0
22          1
23          0
24          1
25          0
26          1
27          0
28          0
29          0
..        ...
388         0
389         0
390         0
391         1
392         0
393         0
394         0
395         1
396         0
397         1
398         0
399         0
400         1
401         0
402         1
403         0
404         0
405         0
406         0
407         0
408         1
409         1
410         1
411         1
412         1
413         0
414         1
415         0
416         0
417         0

[418 rows x 1 columns]

0.9449760765550239